div{
    border:1px solid black;
}

#login{
    display: none;
}

#loggedin{
    display: none;
}

#loginPlace{
    text-align: right;
}

#login input{
    width: 50px;
}

#main{
    width: 100%;
    height: 600px;
}

#footer{
    width: 100%;
    height: 50px;
}
